@tailwind base;
@tailwind components;
@tailwind utilities;

table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: fit-content;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
li {
  list-style: none;
  text-wrap: wrap;
}
